{% extends "base/root.html" %}

{% block content %}
<div class="container bg-light rounded" style="margin-top: 2%; padding: 2%">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Character</th>
          <th scope="col">Favourite Ship</th>
          <th scope="col">Favourite System</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        {% for participation in summary %}
            <tr>
                <th scope="row">{{loop.index0}}</th>
                <td>
                    <img class="img-responsive rounded" src="https://images.evetech.net/characters/{{participation.character.id}}/portrait?size=32"/>
                    {{participation.character.name}}
                </td>
                <td>
                    <img class="img-responsive rounded" src="https://images.evetech.net/types/{{participation.ship.id}}/render?size=32"/>
                    {{participation.ship.name}}
                </td>
                <td>
                    <img class="img-responsive rounded" src="https://images.evetech.net/types/45041/render?size=32">
                    {{participation.system.name}}
                </td>
                <td>
                    {{participation.attendance}} Minutes
                </td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
{% endblock %}
