<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Fleety - PRE-APLHA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('index')}}">Home</a>
        </li>
        {% if user %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('characters.index')}}">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('fleets.index')}}">Fleets</a>
          </li>
        {% endif %}
      </ul>
        {% if user %}
        <a class="d-flex nav-link" href="{{url_for('user.sign_out')}}?csrf_token={{csrf_token}}">
            <button class="btn btn-outline-danger" type="submit">Sign-Out</button>
        </a>
        {% else %}
        <a class="d-flex nav-link" href="{{url_for('user.sign_in')}}">
            <button class="btn btn-outline-info" type="submit">Sign-In</button>
        </a>
        {% endif %}
    </div>
  </div>
</nav>